<p style="color: green"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Trip Information</th>
      <th>Bus Details</th>
      <th>Driver(s)</th>
      <th>Passenger</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

<h1>Reservations</h1>

<div id="reservations">
  <% @reservations.each do |reservation| %>
    <%= render reservation %>
    <p>
      <%= link_to "Show this reservation", reservation %>
    </p>
  <% end %>
</div>

<%= link_to "New reservation", new_reservation_path %>
