body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:#000000;
    background-color: #a5d6f7; /* Blue background */
  }
  
  header {
    background-image: url('/assets/images/BUS.png');
    background-size: fill; /* Adjusted to 50% */
    background-position: center;
    color: #fff;
    padding: 0px 0px;   
    
  }
  
  header img {
    max-height: 400px; /* Adjust the image height as needed */
    height: 500px;
    width: 100%;
  }

  table {
    width: 80%; /* Adjusted width to be 80% of the viewport */
    margin: 40px auto; /* Centering the table horizontally */
    border-collapse: collapse;
  }
  
  table thead th {
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 20px;
    font-family: Arial, sans-serif; /* Use Arial font for consistency */
    font-size: 20px;
    font-display: rgb(0, 0, 0);
    border-bottom: 5px solid #dddddd;
  }
  
  tbody td {
    border-bottom: 5px solid #000000;
    padding: 10px;
    font-family: Arial, sans-serif; /* Use Arial font for consistency */
  }
  
  table tbody tr:nth-of-type(even) {
    background-color: #E9EDED;
  }
  
  table tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
  }
  
  .new-passenger-button {
    background-color: #6e9cc4;  /* Dark background color */
    color: white;               /* White text */
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .new-passenger-button:hover {
    transform: scale(1.03); 
    background-color: #CEA60A;  /* Optional: Change background color on hover */
  }